:root {
  --spacing: 2em;
  --color: #f64c72;
  --blur: blur(.5em);
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to bottom right, #2f2fa2, #242582);
  color: white;
  text-shadow: .02em .02em #f64c72;
}

.js {
  font-family: 'Signika', sans-serif;
  color: var(--color);
}

.selectors {
  margin: 3em 0;
}

#spacing:hover {
  cursor: pointer;
}

#blur:hover {
  cursor: pointer;
}

#color:hover {
  cursor: pointer;
}
.image {
  padding: var(--spacing);
  background-color: var(--color);
  filter: var(--blur);
}

@media screen and (max-width: 720px) {
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 14em;
  }
}
